Source: custom-motd
Section: admin
Priority: extra
Maintainer: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper-compat (= 12), quilt
Standards-Version: 4.5.1
Rules-Requires-Root: no
Vcs-Git: git://github.com/waja/custom-motd.git
Vcs-Browser: https://github.com/waja/custom-motd

Package: custom-motd
Architecture: all
Depends: lsb-release, python3-apt, ${misc:Depends}
Recommends: debian-security-support
Description: helper scripts for creating a customized motd
 FIXME: long description is needed
