Source: custom-motd
Section: admin
Priority: extra
Maintainer: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.5
Vcs-Git: git://github.com/waja/custom-motd.git
Vcs-Browser: http://github.com/waja/custom-motd

Package: custom-motd
Architecture: all
Depends: ${misc:Depends}
Recommends: lsb-release
Description: helper scripts for creating a customized motd
 FIXME: long description is needed
